.add-to-bag{
    height: 70px;
    background-color: #FBE0B1;
    color: #633E1D;
    font-size: 1rem;
    font-weight: bold;
    width: 60%;
    min-width: 190px;
    margin: 0 auto;
}

.add-to-bag:hover{
    background-color: #633E1D;
    color: #FBE0B1;
}