/* Hero.css */

.hero-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero-images-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-logo{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: 1;
}

.hero-text-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2; /* Above the overlay and image */
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.hero-subtitle {
    font-size: 1.25rem;
    max-width: 600px;
    color: #f0f0f0;
    margin: 0 auto;
}

.hero-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    gap: 50px;
}

.hero-link-rectangle {
    border: 2px solid #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.hero-link-rectangle:hover {
    background-color: #ff7f50;
}

/* mediaquery */
@media (max-width: 1024px) {
    .hero-logo{
        width: 100%;
    }
    .hero-link-rectangle {
        padding: 10px 15px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-links {
        margin-top: 50px;
    }

    .hero-logo{
        width: 100%;
    }

    .hero-text-content{
        top: 50%;
        width: 75vw;
    }
    .hero-link-rectangle {
        padding: 10px 15px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero-text-content{
        top: 50%;
        width: 75vw;
    }

    .hero-link-rectangle {
        padding: 12px 9px;
        font-size: 12px;
    }

    .hero-links {
        gap: 30px;
    }
}
