/* General Styles */
.shopping-cart-modal {
    max-width: 90vw;
}

.shopping-cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 100;
}

.cart-items-container {
    margin-top: 2rem;
    flex-grow: 1;
    overflow-y: auto;
}

.cart-item-list {
    margin-top: -1.5rem;
    border-bottom: 1px solid #e5e7eb;
    padding: 0;
}

.cart-item {
    display: flex;
    padding: 1.5rem 0;
}

.cart-item-image-container {
    width: 6rem;
    height: 6rem;
    position: relative;
    border: 1px solid #e5e7eb;
    overflow: hidden;
}

.cart-item-details {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.cart-item-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
    color: #1f2937;
}

.cart-item-description {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6b7280;
    width: 90%;
    line-clamp: 2;
}

.cart-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.875rem;
}

.cart-item-quantity {
    color: #000;
}

.remove-item-button {
    font-weight: 500;
    color: #3b82f6;
    cursor: pointer;
}

.checkout-container {
    border-top: 1px solid #e5e7eb;
    padding: 1.5rem;
}

.checkout-summary {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
    color: #1f2937;
}

.shipping-note {
    margin-top: 0.125rem;
    font-size: 0.875rem;
    color: #6b7280;
}

.checkout-button-container {
    margin-top: 1.5rem;
}

.checkout-button {
    width: 100%;
}

.continue-shopping-container {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: #6b7280;
}

.continue-shopping-button {
    color: #3b82f6;
    cursor: pointer;
    text-decoration: underline;
}

/* Delivery Popup Styles */
.delivery-popup {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.delivery-popup-content {
    width: 100%;
    max-width: 20rem;
    text-align: center;
}

.delivery-popup-header {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.delivery-popup-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.delivery-popup-cancel {
    font-size: 0.875rem;
    color: #6b7280;
    cursor: pointer;
}
