/* kontakt_oss.css */

html{
  scroll-behavior: smooth;
}

.all-products-container, .abonnement-container, .outer-container, .about-us-page{
  background: url('../src/img/wood_wallpaper.png') fixed;
  background-color: black;
}

.kontakt-oss-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    color: #333;
  }
  
  .kontakt-oss-container h1 {
    font-size: 2rem;
    color: #0056b3;
    text-align: center;
  }
  
  .kontakt-description {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .kontakt-info {
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .kontakt-info p {
    margin: 5px 0;
  }
  
  .kontakt-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #003f7f;
  }
  